h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.input{
    padding: 1rem;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    outline: none;
    font-weight: 700;
    border-radius: 35px;
    box-shadow: 0 0 10px 1px #f3f3f3;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}
 input:focus, input:focus-within {
    border: 2px solid lightgrey;
}
.illustratn{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    /* width: auto; */
}